.todo-container {
  width: 300px;
  position: absolute;
  left: 38%;
  top: 30%;
  /* border: 1px solid black; */
  /* display: block; */
}
h1 {
  margin-left: 100px;
}
.list {
  list-style-type: none;
  gap: 5px;
}

.todo-input {
  margin-left: 30px;
}
.dlt-btn {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}

.container {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
}
.btns {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.increseBy {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.resetBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.increment {
  width: 50px;
  padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* cat project css */
.cat-container {
  display: flex;
}
.images {
  /* width: 280px;
  display: flex;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer; */

  width: 280px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 5px #0000004d;
  padding: 5px;
  margin: 5px;
}
.images:hover {
  /* box-shadow: 0 4px 8px rgba(0, 2, 4, 0.5); */
  box-shadow: 0 0 10px #0000007f;
}
.para {
  display: flex;
  justify-content: center;
}
.selected-image {
  text-align: center;
  margin-top: 20px;
  
/* box-shadow: 0 0 10px #0000007f; */

}
