.todo-container{
  width: 300px;
  position: absolute;
  left: 38%;
  top: 30%;
  /* border: 1px solid black; */
  /* display: block; */
}
h1{
  margin-left: 100px;
}
.list{
  list-style-type: none;
  gap: 5px;
}

.todo-input{
  margin-left: 30px;
}
.dlt-btn{
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}



